@font-face {
  font-family: 'poppins-bold';
  src: url('../../../assets/fonts/Poppins-Bold.ttf') format('truetype');
  font-style: normal;
}
@font-face {
  font-family: 'poppins-medium';
  src: url('../../../assets/fonts/Poppins-Medium.ttf') format('truetype');
  font-style: normal;
}
@font-face {
  font-family: 'poppins-regular';
  src: url('../../../assets/fonts/Poppins-Regular.ttf') format('truetype');
  font-style: normal;
}

.i-color {
  color: #141727 !important;
}


.containerx {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 999;
}

tfoot input {
  width: 100%;
  padding: 3px;
  box-sizing: border-box;
}

#popup {
  display: none;
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  flex-direction: column;
  justify-content: baseline;
  align-items: center;
  padding: 20px;
  background: #0000009a;
  z-index: 9999;
  opacity: 0;
  transition: 0.3s;
  overflow: auto;
}

#topluPopup {
display: none;
position: fixed;
width: 100%;
height: 100%;
top: 0;
left: 0;
flex-direction: column;
justify-content: baseline;
align-items: center;
padding: 20px;
background: #0000009a;
z-index: 9999;
opacity: 0;
transition: 0.3s;
overflow: auto;
}

#dairePopup {
  display: none;
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  flex-direction: column;
  justify-content: baseline;
  align-items: center;
  padding: 20px;
  background: #0000009a;
  z-index: 9999;
  opacity: 0;
  transition: 0.3s;
  overflow: auto;
}

.login-form {
  width: 50%;
  max-width: 500px;
  min-width: 350px;
  min-height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: baseline;
  text-align: left;
  background-color: #fff;
  border-radius: 15px;
  overflow-y: auto;
  overflow-x: hidden;
  opacity: 0;
  transform: translateY(-180px);
  transition: 0.5s;
}
.login-form-daire {
  width: 50%;
  max-width: 500px;
  min-width: 350px;
  min-height: 370px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  text-align: left;
  background-color: #fff;
  border-radius: 15px;
  overflow-y: auto;
  overflow-x: hidden;
  opacity: 0;
  transform: translateY(-180px);
  transition: 0.5s;
}
.login-form-toplu {
  width: 50%;
  max-width: 500px;
  min-width: 350px;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  text-align: left;
  background-color: #fff;
  border-radius: 15px;
  overflow-y: auto;
  overflow-x: hidden;
  opacity: 0;
  transform: translateY(-180px);
  transition: 0.5s;
}

.login-form1 {
  width: 50%;
  min-width: 350px;
  min-height: 50%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  border-radius: 15px;
  overflow-y: auto;
  overflow-x: hidden;
}


.form-signin-heading {
  font-size: 1.75rem;
  margin-top: 18px;
  margin-bottom: 28px;
  width: 95%;
  padding: 0px 12px;
  color: #0d0c22;
}

.row {
  width: 100%;
  min-width: 350px;
  flex-wrap: wrap;
  
}

.col {
  width: 50%;
  min-width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  align-items: center;
  text-align: left;
}
.col-btn {
  width: 100%;
  min-width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  align-items: center;
  text-align: left;
}

label {
  width: 90%;
  margin: 0px 0 4px;
  color: #0d0c22;
  font-family: 'poppins-medium';
  font-weight: 500;
}

.row-btns {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 80%;
  min-width: 200px;
  margin-top: 0px;
  margin-bottom: 20px;
}

.btn-size {
  width: 100%;
}

.input {
  width: 90%;
  min-width: 200px;
  height: 42px;
  background-color: #fff;
  color: #0d0c22;
  border: 1px solid #6b7280;;
  border-radius: 12px;
  padding: 5px 15px;
  transition: 0.5s;
  outline: none;
  font-size: 13px;
  margin-bottom: 8px;
  font-family: 'poppins-regular';
}

.input:focus {
  border-color: #0d0c22;
  box-shadow: 0 0 0 4px rgb(0 0 0 / 10%); 
}

.btn-custom {
  max-width: 420px;
  width: 100%;
  height: 40px;
  margin-bottom: 18px;
  transition: 0.5s;
  background-color: #0d0c22;
  color: #fff;
  border: none;
  font-size: 16px;
  cursor: pointer;
  border-radius: 12px;
  font-family: 'poppins-medium';
  font-weight: 500;
}

.btn-custom:hover {
  box-shadow: 0 -1px 10px rgba(13,12,34, 0.3);
}

.btn-custom-daire {
  max-width: 420px;
  width: 100%;
  height: 40px;
  margin-bottom: 18px;
  transition: 0.5s;
  background-color: #277CE0;
  color: #fff;
  border: none;
  font-size: 16px;
  cursor: pointer;
  border-radius: 12px;
  font-family: 'poppins-medium';
  font-weight: 500;
}

.btn-custom-daire:hover {
  box-shadow: 0 -1px 10px rgba(13,12,34, 0.3);
}

.ahref {
  color: #fff !important;
  font-family: 'poppins-medium';
  font-weight: 500;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

}

.btn-custom-close {
  max-width: 420px;
  width: 100%;
  height: 40px;
  margin-bottom: 18px;
  transition: 0.5s;
  background-color: #686A6C;
  color: #fff;
  border: none;
  font-size: 16px;
  font-family: 'poppins-medium';
  font-weight: 500;
  cursor: pointer;
  border-radius: 12px;
}

.btn-custom-close:hover {
  box-shadow: 0 -1px 10px rgba(13,12,34, 0.3);
}

.indexAdd {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 80%;
}

@media screen and (max-width: 1040px) {
  .input, label, .col, .row, .form-signin-heading {
      width: 100%;
  }
  .btn-size {
      width: 40%;
  }
  .margint {
      margin-top: 20px;
  }
  .input1 {
      min-width: 100px;
  }
}

@media screen and (max-width: 870px) {
  .form-signin-heading {
      font-size: 1.25rem;
  }
}


.login-form::-webkit-scrollbar {
width: 5px;
border-radius: 50px;
}

/* Track */
.login-form::-webkit-scrollbar-track {
background: #f1f1f100; 
border-radius: 50px;
}

/* Handle */
.login-form::-webkit-scrollbar-thumb {
background: #888; 
border-radius: 50px;
}


/* Handle on hover */
.login-form::-webkit-scrollbar-thumb:hover {
background: #555; 
border-radius: 50px;
}



.login-form1::-webkit-scrollbar {
width: 5px;
border-radius: 50px;
}

/* Track */
.login-form1::-webkit-scrollbar-track {
background: #f1f1f100; 
border-radius: 50px;
}

/* Handle */
.login-form1::-webkit-scrollbar-thumb {
background: #888; 
border-radius: 50px;
}


/* Handle on hover */
.login-form1::-webkit-scrollbar-thumb:hover {
background: #555; 
border-radius: 50px;
}

.min-height-vh-100 {
  min-height: 100vh;
}



/* Bolumler tablo kodları */

.btn1 {
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}



/* Table Code */

/* -- Material Design Table style -------------- */
.rapor {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  margin-top: 80px;
}

.table-a {
  height: 30px;
  border: 1px solid #277CE0 !important;
  background-color: transparent;
  color: #277CE0;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  text-decoration: none;
  font-size: 14px;
  cursor: pointer;
  border-radius: 7px;
  font-family: 'poppins-medium';
  font-weight: 500;
}

.table-a:hover {
  background-color: #277CE0;
  color: #ffffff;
  box-shadow: 0 0 20px #6fc5ff50;
  transform: scale(1.1);
}

.table-a:active {
  background-color: #3d94cf;
  transition: all 0.25s;
  -webkit-transition: all 0.25s;
  box-shadow: none;
  transform: scale(0.98);
}

.shadow-z-1 {
-webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
-moz-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
}
/* -- Material Design Table style -------------- */
.table {
width: 100%;
max-width: 100%;
margin-bottom: 2rem;
background-color: #ffffff32;
border-radius: 5px;
color: #333;
border-collapse: collapse;
}

.table > thead > tr,
.table > tbody > tr,
.table > tfoot > tr {
-webkit-transition: all 0.3s ease;
-o-transition: all 0.3s ease;
transition: all 0.3s ease;
}
.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
text-align: left;
padding: 1rem;
vertical-align: middle;
border-top: 0;
-webkit-transition: all 0.3s ease;
-o-transition: all 0.3s ease;
transition: all 0.3s ease;
}
.table > thead > tr > th {
font-weight: 500;
color: #000;
vertical-align: bottom;
border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}
.table > caption + thead > tr:first-child > th,
.table > colgroup + thead > tr:first-child > th,
.table > thead:first-child > tr:first-child > th,
.table > caption + thead > tr:first-child > td,
.table > colgroup + thead > tr:first-child > td,
.table > thead:first-child > tr:first-child > td {
border-top: 0;
}
.table > tbody + tbody {
border-top: 1px solid rgba(0, 0, 0, 0.12);
}
.table .table {
background-color: #fff;
}
.table .no-border {
border: 0;
}
.table-condensed > thead > tr > th,
.table-condensed > tbody > tr > th,
.table-condensed > tfoot > tr > th,
.table-condensed > thead > tr > td,
.table-condensed > tbody > tr > td,
.table-condensed > tfoot > tr > td {
padding: 0.8rem;
}
.table-bordered {
border: 0;
}
.table-bordered > thead > tr > th,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > tbody > tr > td,
.table-bordered > tfoot > tr > td {
border: 0;
border-bottom: 1px solid #e0e0e0;
}
.table-bordered > thead > tr > th,
.table-bordered > thead > tr > td {
border-bottom-width: 2px;
}
.table-striped > tbody > tr:nth-child(odd) > td,
.table-striped > tbody > tr:nth-child(odd) > th {
background-color: #f5f5f5;
}
.table-hover > tbody > tr:hover > td,
.table-hover > tbody > tr:hover > th {
background-color: rgba(0, 0, 0, 0.12);
}
@media screen and (max-width: 768px) {

#demo {
    margin: 20px auto;
    width: 100%;
}

.table {
  color: #333;
}

.table-responsive-vertical > .table {
  margin-bottom: 0;
  background-color: transparent;
}
.table-responsive-vertical > .table > thead,
.table-responsive-vertical > .table > tfoot {
  display: none;
}
.table-responsive-vertical > .table > tbody {
  display: block;
}
.table-responsive-vertical > .table > tbody > tr {
  display: block;
  border: 1px solid #e0e0e0;
  border-radius: 2px;
  margin-bottom: 1.6rem;
}
.table-responsive-vertical > .table > tbody > tr > td {
  background-color: #fff;
  display: block;
  vertical-align: middle;
  text-align: right;
}
.table-responsive-vertical > .table > tbody > tr > td[data-title]:before {
  content: attr(data-title);
  float: left;
  font-size: inherit;
  font-weight: 400;
  color: #757575;
}
.table-responsive-vertical.shadow-z-1 {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.table-responsive-vertical.shadow-z-1 > .table > tbody > tr {
  border: none;
  -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
  -moz-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
}
.table-responsive-vertical > .table-bordered {
  border: 0;
}
.table-responsive-vertical > .table-bordered > tbody > tr > td {
  border: 0;
  border-bottom: 1px solid #e0e0e0;
}
.table-responsive-vertical > .table-bordered > tbody > tr > td:last-child {
  border-bottom: 0;
}
.table-responsive-vertical > .table-striped > tbody > tr > td,
.table-responsive-vertical > .table-striped > tbody > tr:nth-child(odd) {
  background-color: #fff;
}
.table-responsive-vertical > .table-striped > tbody > tr > td:nth-child(odd) {
  background-color: #f5f5f5;
}
.table-responsive-vertical > .table-hover > tbody > tr:hover > td,
.table-responsive-vertical > .table-hover > tbody > tr:hover {
  background-color: #fff;
}
.table-responsive-vertical > .table-hover > tbody > tr > td:hover {
  background-color: rgba(0, 0, 0, 0.12);
}
}
.table-striped.table-mc-red > tbody > tr:nth-child(odd) > td,
.table-striped.table-mc-red > tbody > tr:nth-child(odd) > th {
background-color: #fde0dc;
}
.table-hover.table-mc-red > tbody > tr:hover > td,
.table-hover.table-mc-red > tbody > tr:hover > th {
background-color: #f9bdbb;
}

.input-group-div {
  width: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
  padding-top: 20px;
}