.form-popup {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding: 20px;
    background: #0000009a;
    z-index: 9999;
    opacity: 0;
    transition: 0.3s;
    overflow: auto;
}

.login-form-start {
    width: 50%;
    max-width: 450px;
    min-width: 350px;
    min-height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: baseline;
    text-align: left;
    background-color: #fff;
    border-radius: 15px;
    opacity: 0;
    transform: translateY(-180px);
    transition: 0.5s;
  }

.daire-area {
    border: none;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    justify-content: baseline;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    min-width: 200px;
}

tbody {
    text-align: center;
}

.form-signin-heading1 {
    font-size: 1.5rem;
    margin-top: 10px;
}

#numberalert {
    color: #ff0e0e;
}

.col1 {
    width: 100%;
    min-width: 100px;
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: center;
    text-align: left;
}

.input1 {
    width: 90%;
    min-width: 200px;
    height: 42px;
    background-color: #fff;
    color: #0d0c22;
    border: 1px solid #6b7280;;
    border-radius: 12px;
    padding: 5px 15px;
    transition: 0.5s;
    outline: none;
    font-size: 13px;
    margin-bottom: 8px;
    font-family: 'poppins-regular';
}
  
.input1:focus {
  border-color: #0d0c22;
  box-shadow: 0 0 0 4px rgb(0 0 0 / 10%); 
}
  
.form-control1 {
    color: #ff0e0e;
}

.dropdown-menu {
    z-index: 9998;
}