.form-popup {
    display: flex;
    position: fixed;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    top: 0;
    left: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background: #0000009a;
    z-index: 9999;
}

.daire-area {
    border: none;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.form-signin-heading1 {
    font-size: 1.5rem;
    margin-top: 10px;
}

#numberalert {
    color: #ff0e0e;
}

.col1 {
    width: 50%;
    min-width: 100px;
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: center;
    text-align: left;
}

.input1 {
    width: 80%;
    min-width: 200px;
    height: 50px;
    margin-top: 10px;
    border: none;
    background-color: #EEEEEE;
    color: #084793;
    border-radius: 8px;
    padding: 5px 15px;
    transition: 0.5s;
    outline: none;
    border: 2px solid transparent;
}

.input1:focus {
    border: 2px solid #3BB4D7;
}

.form-control1 {
    color: #ff0e0e;
}

.dropdown-menu {
    z-index: 9998;
}