.form-popup {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding: 20px;
    background: #0000009a;
    z-index: 9999;
    opacity: 0;
    transition: 0.3s;
    overflow: auto;
}

.login-form-start {
    padding: 5px 15px;
    width: 50%;
    max-width: 400px;
    min-width: 350px;
    min-height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    text-align: left;
    background-color: #fff;
    border-radius: 4px;
    opacity: 0;
    transform: translateY(-180px);
    transition: 0.5s;
}

.daire-area {
    border: none;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    min-width: 70px;
}

.daire-area td {
    position: relative;
    width: 50%;
}

.daire-area td p {
    padding-left: 15px;
}

tbody {
    text-align: center;
}

.form-signin-heading1 {
    font-size: 1.5rem;
    margin-top: 10px;
}

#numberalert {
    color: #ff0e0e;
}

.input1 {
  width: 50%;
  min-width: 70px;
  padding: 5px 0;
  font-size: 14px;
  color: #0d0c22;
  border: none;
  border-bottom: 1px solid #0d0c22;
  outline: none;
  background: transparent;
  font-family: 'poppins-regular';
  transition: 0.5s;
}

.input1:focus,
.input1:valid  {
  border-color: #277CE0;
}

.input1:focus ~ label,
.input1:valid ~ label {
  top: -30px;
  left: 5px;
  font-size: 12px;
}
  
.form-control1 {
    color: #ff0e0e;
}

.form-group {
    width: 80%;
    min-width: 100px;
    margin-top: 5px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    text-align: left;
    position: relative;
  }

.dropdown-menu {
    z-index: 9998;
}