@font-face {
  font-family: 'poppins-bold';
  src: url('../fonts/Poppins-Bold.ttf') format('truetype');
  font-style: normal;
}
@font-face {
  font-family: 'poppins-medium';
  src: url('../fonts/Poppins-Medium.ttf') format('truetype');
  font-style: normal;
}
@font-face {
  font-family: 'poppins-regular';
  src: url('../fonts/Poppins-Regular.ttf') format('truetype');
  font-style: normal;
}

:root {
    /* colors */

    --white: #fff;
    --light: #F8F9FA;
    --black: #000;

    /* font sizes */

    --font-2xs: 0.625rem;
    --font-xs: 0.75rem;
    --font-sm: 0.875rem;
    --font-md: 1rem;
    --font-lg: 1.125rem;
    --font-xl: 1.25rem;
    --font-2xl: 1.5rem;
    --font-3xl: 1.75rem;
    --font-4xl: 2rem;
    --font-5xl: 2.25rem;
    --font-6xl: 2.5rem;
    --font-7xl: 3rem;
    --font-8xl: 3.5rem;
    --font-9xl: 4rem;
    --font-10xl: 4.5rem;
    --font-11xl: 5rem;
    --font-12xl: 6rem;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    width: 100%;
    min-height: 100vh;
    background-color: var(--white);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: top;
    font-family: 'poppins-regular';
}

.container {
    width: 100%;
    height: 100dvh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
}

.login-box {
    width: 45%;
    min-width: 350px;
    min-height: 350px;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;
}

.logo-box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 32px;
}

.logo-box img {
  width: 100%;
  height: 100%;
  object-fit: scale-down;
}

.form-signin-heading {
    font-size: var(--font-3xl) !important;
    color: #000;
    margin-bottom: 8px;
    width: 100%;
    text-align: center;
}

.form-signin-heading1 {
  font-size: var(--font-lg);
  color: #374151;
  margin-bottom: 32px;
  width: 100%;
}

.alert {
    width: 80%;
    height: 20px;
    margin: 0;
    margin-top: 10px;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    border: none;
}

.login-form {
    width: 100%;
    height: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form-signin-heading {
    font-size: var(--font-6xl);
}

.label-block-level {
    display: flex;
    justify-content: baseline;
    align-items: baseline;
    width: 80%;
    margin: 0px 0 4px;
    color: #0d0c22;
    font-family: 'poppins-medium';
    font-weight: 500;
    max-width: 420px;
}

.input-block-level {
    width: 100%;
    max-width: 420px;
    height: 52px;
    background-color: #fff;
    color: #0d0c22;
    border: 1px solid #6b7280;;
    border-radius: 12px;
    padding: 18px 20px;
    transition: 0.5s;
    outline: none;
    font-size: 16px;
}

.input-block-level:focus {
  border-color: #0d0c22;
  box-shadow: 0 0 0 4px rgb(0 0 0 / 10%);
}

.remember-div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin-bottom: 18px;
    max-width: 420px;
}

.fpass {
    font-size: 14px;
    color: #0875e4;
    font-weight: 500;
    text-decoration: none;
}

.g-recaptcha {
    width: 80%;
    max-width: 420px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.btn-custom {
    max-width: 420px;
    width: 80%;
    height: 60px;
    margin-top: 18px;
    transition: 0.5s;
    background-color: #0d0c22 ;
    color: #fff;
    border: none;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    border-radius: 100px;
}

.btn-custom:hover {
  box-shadow: 0 -1px 10px rgba(13,12,34, 0.3);
}

.hesap {
    font-size: 14px;
    text-align: center;
    margin: 32px 0 0;
    max-width: 420px;
}

.hesap a {
    color: #0875e4;
    font-weight: 500;
    text-decoration: none;
}

.olusturbtn {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    background-color: #C8DCE2;
    box-shadow: inset 0 0px 10px 5px #8585852f;
    color: #000;
    margin-bottom: 10px;
}
.olusturbtn:hover {
    color: #fff;
    background-color: #797979;
    box-shadow: inset 0 0px 10px 5px #8585852f;
}

.olusturbtn1 {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    background-color: #EEEEEE;
    box-shadow: inset 0 0px 10px 5px #8585852f;
    margin-top: 10px;
    color: #3BB4D7;
    font-size: var(--font-4xl);
    margin-bottom: 20px;
}
.olusturbtn1:hover {
    color: #fff;
    background-color: #3BB4D7;
    box-shadow: inset 0 0px 10px 5px #8585852f;
}

/* checkbox area start */

  .checkbox-wrapper-4 * {
    box-sizing: border-box;
    margin-top: 5px;
  }
  .checkbox-wrapper-4 .cbx {
    -webkit-user-select: none;
    user-select: none;
    cursor: pointer;
    padding: 0px 1px;
    color: #0d0c22;
    border-radius: 6px;
    overflow: hidden;
    transition: all 0.2s ease;
    display: inline-block;
    font-weight: 100;
    font-size: 14px;
  }
  .checkbox-wrapper-4 .cbx:not(:last-child) {
    margin-right: 6px;
  }
 
  .checkbox-wrapper-4 .cbx span {
    float: left;
    vertical-align: middle;
    transform: translate3d(0, 0, 0);
  }
  .checkbox-wrapper-4 .cbx span:first-child {
    position: relative;
    width: 18px;
    height: 18px;
    border-radius: 4px;
    transform: scale(1);
    border: 1px solid #6b7280;
    transition: all 0.2s ease;
    box-shadow: 0 1px 1px rgba(0,16,75,0.05);
  }
  .checkbox-wrapper-4 .cbx span:first-child svg {
    position: absolute;
    top: -2px;
    left: 2px;
    fill: none;
    stroke: #333;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-dasharray: 16px;
    stroke-dashoffset: 16px;
    transition: all 0.3s ease;
    transition-delay: 0.1s;
    transform: translate3d(0, 0, 0);
  }
  .checkbox-wrapper-4 .cbx span:last-child {
    padding-left: 8px;
    line-height: 18px;
  }
  .checkbox-wrapper-4 .cbx:hover span:first-child {
    border-color: #6b7280;
  }
  .checkbox-wrapper-4 .inp-cbx {
    position: absolute;
    visibility: hidden;
  }
  .checkbox-wrapper-4 .inp-cbx:checked + .cbx span:first-child {
    background: transparent;
    border-color: #333;
    animation: wave-4 0.4s ease;
  }
  .checkbox-wrapper-4 .inp-cbx:checked + .cbx span:first-child svg {
    stroke-dashoffset: 0;
  }
  .checkbox-wrapper-4 .inline-svg {
    position: absolute;
    width: 0;
    height: 0;
    pointer-events: none;
    user-select: none;
  }
  @media screen and (max-width: 640px) {
    .checkbox-wrapper-4 .cbx {
      width: 100%;
      display: inline-block;
    }
  }
  @-moz-keyframes wave-4 {
    50% {
      transform: scale(0.9);
    }
  }
  @-webkit-keyframes wave-4 {
    50% {
      transform: scale(0.9);
    }
  }
  @-o-keyframes wave-4 {
    50% {
      transform: scale(0.9);
    }
  }
  @keyframes wave-4 {
    50% {
      transform: scale(0.9);
    }
  }

/* checkbox area end */



.login-box1 {
  width: 40%;
  min-width: 350px;
  min-height: 450px;
  background-color: var(--white);
  box-shadow: 0 20px 27px 0 rgba(0, 0, 0, 0.05);
  border: 1px solid #e5e5e5;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.alert-area-password {
  margin-top: 20px;
  margin-bottom: 20px;
}

@media screen and (max-width: 360px) {
  .login-box1, .login-box {
      min-width: 300px;
  }

  .form-signin-heading {
    font-size: var(--font-xl) !important;
  }

  .form-signin-heading1 {
    font-size: var(--font-sm);
    margin-bottom: 5px;
  }

  .g-recaptcha {
    transform:scale(0.77);
    transform-origin:0 0;
  }
}


.img-box {
  width: 45%;
  min-width: 350px;
  height: 75%;
  min-height: 600px;
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f7f8fa;
}

.img-box img {
  width: 100%;
  height: 70%;
  object-fit: scale-down;
}

.form-signin-heading2 {
  font-size: var(--font-lg);
  color: #374151;
}

@media (max-width: 1000px) {
  .img-box {
    display: none;;
  }
}


.inputBox {
  width: 80%;
  max-width: 420px;
  height: 52px;
  position: relative;
  margin-bottom: 28px;
}

.inputBox i {
  font-size: 20px;
  cursor: pointer;
  position: absolute;
  right: 15px;
  top: 16px;
}

@media screen and (max-width: 930px) {
  .inputBox, .remember-div, .g-recaptcha, .alert, .input-block-level, .label-block-level, .btn-custom, .input-block-level1, .btn, .olusturbtn, .olusturbtn1 {
      width: 100%;
  }
}